<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace,
                                    {"connect timeout": 300,
                                     "close timeout": 30,
                                     "hearbeat timeout": 30});
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
            $('form#emit').submit(function(event) {
                socket.emit('my event', {data: $('#emit_data').val()});
                return false;
            });

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('my response', function(msg) {
                $('#log').append('<br>Received #' + msg.count + ': ' + msg.data);
            });

            // handlers for the different forms in the page
            // these send data to the server in a variety of ways
            $('form#clientid').submit(function(event) {
                socket.emit('print connected');
                return false;
            });
            $('form#broadcast').submit(function(event) {
                socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
                return false;
            });
            $('form#join').submit(function(event) {
                socket.emit('joinroom', {room: $('#join_room').val()});
                return false;
            });
            $('form#assign').submit(function(event) {
                socket.emit('assignroom', {room: $('#assign_room').val(), user1: $('#assign_user_1').val(), user2: $('#assign_user_2').val()});
                return false;
            });
            $('form#leave').submit(function(event) {
                socket.emit('leaveroom');//, {room: $('#leave_room').val()});
                return false;
            });
            $('form#clear').submit(function(event) {
                socket.emit('clearroom');//, {room: $('#clear_room').val()});
                return false;
            });
            $('form#send_room').submit(function(event) {
                socket.emit('readanswer', {qid: $('#room_name').val(), answer: $('#room_data').val()});
                return false;
            });
            $('form#client_uuid').submit(function(event) {
                socket.emit('send client', {client: $('#clientuuid').val(), data: $('#client_data').val()});
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <h2>Send:</h2>
    <form id="clientid" method='POST' action='#'>
        <input type="text" name="client_id" id="client_id" placeholder="Client Id">
        <input type="submit" value="Set Client ID"></div>
    </form>
    <form id="emit" method='POST' action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo"></div>
    </form>
    <form id="broadcast" method='POST' action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Broadcast">
    </form>
    <form id="join" method='POST' action='#'>
        <input type="text" name="join_room" id="join_room" placeholder="Room Name">
        <input type="submit" value="Join Room">
    </form>
    <form id="assign" method='POST' action='#'>
        <input type="text" name="assign_room" id="assign_room" placeholder="Room Name">
        <input type="text" name="assign_user_1" id="assign_user_1" placeholder="User 1">
        <input type="text" name="assign_user_2" id="assign_user_2" placeholder="User 2">
        <input type="submit" value="Assign Room">
    </form>
    <form id="leave" method='POST' action='#'>
        <input type="text" name="leave_room" id="leave_room" placeholder="Room Name">
        <input type="submit" value="Leave Room">
    </form>
    <form id="clear" method='POST' action='#'>
        <input type="text" name="clear_room" id="clear_room" placeholder="Room Name">
        <input type="submit" value="Clear Room">
    </form>
    <form id="send_room" method='POST' action='#'>
        <input type="text" name="room_name" id="room_name" placeholder="Question id">
        <input type="text" name="room_data" id="room_data" placeholder="Answer">
        <input type="submit" value="Answer Room">
    </form>
    <form id="client_uuid" method='POST' action='#'>
        <input type="text" name="clientuuid" id="clientuuid" placeholder="Client UUID">
        <input type="text" name="client_data" id="client_data" placeholder="Message">
        <input type="submit" value="Send To Client">
    </form>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
