<!DOCTYPE html>

<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Quizas Flashcards</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="static/img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/img/touch-icon-ipad-retina.png">
    <link rel="apple-touch-startup-image" href="static/img/Geet_App_Startup.png">

    <link rel="stylesheet" type="text/css" href="../static/css/main.css"></link>

</head>

<body>
    <div class="flashcards"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/js/jquery.mobile.js"></script>
    
    <script src="../static/js/flashcard.js"></script>
</body>
</html>