body {
    font-family: 'Open Sans', sans-serif;
}

body, html {
    overflow-x: hidden;
    overflow-y: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@font-face {
    font-family: font_logo;
    src: url(font/urban.ttf) format("truetype");
    /*src: url('urban.ttf');*/
}

@font-face {
    font-family: font_back_button;
    src: url(font/chalkboard_bold.ttf) format("truetype"),
         url(font/chalkboard_bold.eot) format('embedded-opentype'),
         url(font/chalkboard_bold.woff) format('woff');
}

@font-face {
    font-family: font_set_content;
    src: url(font/american-typewriter-light.ttf) format("truetype"),
         url(font/american-typewriter-light.eot) format('embedded-opentype');
}

@font-face {

}

#fb-root {
    display: none;
}

.background_flashcard {
    background: #99cfb7;
    background-color: #99cfb7;
}

.background_set {
    background-color: #E6FAF5;
}

/*** Start of footer ***/
@media screen and (max-width: 500px) {
    .footer_container li {
        line-height: 45px;
    }
}

@media screen and (min-width: 501px) {
    .footer_container li {
        line-height: 35px;
    }
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 25;
    height: 10vh;
    max-height: 60px;
    position: fixed;
}

.footer_container {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    text-align: center;
    text-align: center;
}

.footer_container li {
    display: table-cell;
    cursor: pointer;
    color: #FFF;
    background-color: #6b6b6b;
    border-left-style: solid;
    border-left-width: 0.5px;
    border-left-color: #FFF;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #FFF;
}

.footer_container li:active {
    background-color: #4B4B4B;
}

.footer_container li.current_tab {
    background-color: #A6A6A6;
}

.footer_container li a {
    color: inherit;
    text-decoration: none;
}

.group_2 li {
    width: 50%;
}

.group_3 li {
    width: 33.333%;
}

.group-4 li {
    width: 25%;
}

.group_5 li {
    width: 20%;
}

/*** Start of index.html ***/
.logo {
    width: 60%;
    max-width: 300px;
    margin: auto;
}

.logo:before{
    content: "";
    display: relative;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

.logo_text {
    font-family: font_logo, sans-serif;
    color: white;
    opacity: 0.9;
    text-align: center;
    font-size: 420%;
    margin-left: auto;
    margin-right: auto;
}

.footer_copyright {
    text-align: center;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    margin-bottom: 10px;
    position: relative;
    width: 100px;
    color: white;
    opacity: 0.7;
}

.copyright {
    font-size: 10pt;
    margin: 10px auto;
}

/* Styles for log-in buttons container */
@media screen and (max-width: 500px) {
    .login_container {
        width: 100%;
    }

    .login_button {
        width: 100%;
        max-width: 320px;
        padding-left: 20px;
    }
}

@media screen and (min-width: 501px) {
    .login_container {
        width: 40%;
    }

    .login_button {
        width: 60%;
        min-width: 320px;
        padding-left: 40px;
    }
}

.login_container {
    margin: 5px auto;
    height: 180px;
}

.login_button {
    margin: 15px auto;
    cursor: pointer;
}

.let-icon-bg, .let-bg,
.fb-icon-bg, .fb-bg,
.twi-icon-bg, .twi-bg,
.g-icon-bg, .g-bg {
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.let-bg:after,
.fb-bg:after,
.twi-bg:after,
.g-bg:after {
    font-family: 'Open Sans', sans-serif;
}

/* Quizlet */
.let-icon-bg {
    background: #165dd1;
    height: 37px;
    width: 41px;
    float: left;
}

.let-icon-bg:after {
    content: url(images/let-icon.png);
    display: inline-block;
    padding: 7px 10px 5px 11px;
}

.let-bg {
    background: #367eea;
    display: inline-block;
    height: 37px;
    width: 75%;
    float: left;
}

.let-bg:after {
    color: #fff;
    content: "sign in with quizlet";
    height: 37px;
    left: 12%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px; 
}

.let-bg.link:after {
    content: "link with quizlet";
    left: 20%;
}

.let-bg:hover{
    cursor: pointer;
}

.let-bg:active{
    background: #165dd1;
}

/* Facebook */
.fb-icon-bg {
    background: #354f88;
    height: 37px;
    width: 41px;
    float: left;
}

.fb-icon-bg:after {
    content: url(images/fb-icon.png);
    display: inline-block;
    padding: 9px 10px 5px 15px;
}

.fb-bg {
    background: #3b5998;
    display: inline-block;
    height: 37px;
    width: 75%;
    float: left;
}

.fb-bg:after {
    color: #fff;
    content: "sign in with facebook";
    height: 37px;
    left: 8%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px; 
}

.fb-bg.link:after {
    content: "link with facebook";
    left: 15%;
}

.fb-bg:hover{
    cursor: pointer;
}

.fb-bg:active{
    background: #354f88;
}

/* Twitter */
.twi-icon-bg:after {
    content: url(images/twi-icon.png);
    display: inline-block;
    padding: 11px 10px 6px 11px;
}

.twi-icon-bg {
    background: #40a2d1;
    height: 37px;
    width: 41px; 
    float: left;
}

.twi-bg {
    background: #45b0e3;
    height: 37px;
    width: 75%;; 
    float: left;
}
 
.twi-bg:after {
    color: #fff;
    content: "sign in with twitter";
    height: 37px;
    left: 11%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px; 
}

.twi-bg.link:after {
    content: "link with twitter";
    left: 18%;
}

.twi-bg:hover {
  cursor: pointer;
}

.twi-bg:active {
  background: #40a2d1;
}

/* Google+ */
.g-icon-bg:after {
  content: url(images/g-icon.png);
  display: block;
  padding: 11px 10px 6px 13px;
}

.g-icon-bg {
    background: #ce3e26;
    height: 37px;
    float: left;
    width: 41px; 
}
 
.g-bg {
    background: #de4c34;
    height: 37px;
    float: left;
    width: 75%;; 
}
 
.g-bg:after {
    color: #fff;
    content: "sign in with google+";
    height: 37px;
    left: 10%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px; 
}

.g-bg:after {
    content: "link with google+";
    left: 16%;
}

.g-bg:hover {
  cursor: pointer;
}

.g-bg:active {
  background: #ce3e26;
}

.btn_social {
    position: relative;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    padding: 10px 16px;
    cursor: pointer;
    border: 1px solid transparent;
}

.btn_fb {
    padding-left: 61px;
    color: white;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

/*** Start of study.html ***/

@media screen and (max-width: 500px) {
    .space {
        height: 13vw;
    }

    .simple_set {
        left: 0;
        right: 0;
        height: 90px;
        /*width: 100vw;*/
    }

    .simple_set.search {
        min-width: 90vw;
    }

    .add_set {
        height: 15vw;
        width: 15vw;
        line-height: 12vw;
        text-align: center;
        font-size: 12vw;
        border-bottom-left-radius: 10px;
    }

    .search_set {
        height: 15vw;
        margin-right: 20vw;
        width: 60vw;
    }

    #search_set_box {
        height: 14vw;
        /*line-height: 12vw;*/
        font-size: 16pt;
    }

    .search_result {
        margin-top: 16vw;
    }

    .notification {
        height: 15vw;
        width: 15vw;
        line-height: 14vw;
        text-align: center;
        font-size: 12vw;
        border-bottom-right-radius: 10px;
    }

    .round_button {
        font-size: 5vw;
    }
}

@media screen and (min-width: 501px) {
    .space {
        height: 0;
    }

    .simple_set {
        margin-left: auto;
        margin-right: auto;
        height: 100px;
    }

    .simple_set.search {
        min-width: 500px;
    }

    .add_set {
        height: 12vw;
        width: 12vw;
        max-width: 80px;
        max-height: 80px;
        line-height: 65px;
        text-align: center;
        font-size: 65pt;
        border-bottom-left-radius: 20px;
    }

    .search_set {
        height: 12vw;
        max-height: 80px;
        margin-right: 25vw;
        width: 50vw;
    }

    #search_set_box {
        height: 11.5vw;
        max-height: 80px;
        /*line-height: 80px;*/
        font-size: 20pt;
    }

    .search_result {
        margin-top: 85px;
    }

    .notification {
        height: 12vw;
        width: 12vw;
        max-width: 80px;
        max-height: 80px;
        line-height: 80px;
        text-align: center;
        font-size: 70pt;
        border-bottom-right-radius: 20px;
    }

    .round_button {
        font-size: 5vw;
    }
}

@media screen and (min-width: 1000px) {
    .round_button {
        font-size: 30pt;
    }
}

.add_set {
    top: 0;
    right: 0;
    z-index: 50;
    color: white;
    background-color: red;
    position: fixed;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.add_sign.rotate {
    transform: rotate(45deg);
    /* Safari */
    -webkit-transform: rotate(45deg);
    /* Firefox */
    -moz-transform: rotate(45deg);
    /* IE */
    -ms-transform: rotate(45deg);
    /* Opera */
    -o-transform: rotate(45deg);
    /* Internet Explorer */
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
    writing-mode: lr-bt;
}

.add_set:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */   
}

.search_set {
    z-index: 49;
    top: 0;
    right: 0;
    position: fixed;
    margin-top: -8px;
    display: none;
}

#search_set_box {
    text-align: center;
}

.notification {
    top: 0;
    left: 0;
    z-index: 50;
    color: white;
    background-color: yellow;
    opacity: 0.5;
    position: fixed;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.notification:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */   
}

.search_result {
    display: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: center;
    margin-bottom: 30px;
}

.set_info {
    z-index: 1;
    margin-bottom: 40px;
    right: 0;
    left: 0;
    position: absolute;
}

.simple_set {
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 10;
    position: relative;
    background-color: #80B280;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #47A347;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: light;
    /*border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #0099FF;*/
}

.simple_set.search {
    display: inline-block;
    height: auto;
}

.content_container {
    display: inline-block;
    width: 90%;
    height: 100%;
    float: left;
}

.action_container {
    position: absolute;
    right: 0;
    width: 10%;
    height: inherit;
    float: right;
    color: white;
}

.action {
    height: 50%;
    width: 100%;
    text-align: center;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #FFF;
    display: table;
}

.action:active {
    background-color: #668E66;
}

.action span {
    display: table-cell;
    vertical-align: middle;
}

.action i {
    display: table-cell;
    vertical-align: middle;
}

.action.delete{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #FFF;
}

.action.favorite{
    
}

.action.add{
    height: 100%;
}

.set_content {
    height: 50%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.set_content p{
    display: table-cell;
    vertical-align: middle;
}

.set_content.title {
    height: 100%;
    max-width: 96%;
    font-weight: 800;
    font-size: 16pt;
    text-align: center;
    word-wrap: break-word;
}

.set_content.title.search {
    height: 36%;
    font-weight: 500;
    font-size: 15pt;
    max-width: 90%;
    margin-top: 10px;
}

.set_content.description {
    height: 64%;
    font-style: italic;
    font-size: 12pt;
}

.set_content.description.search {
    height: 50%;
    font-style: italic;
    font-size: 11pt;
    font-weight: 200;
    width: 94%;
    text-align: justify;
    margin: 6px auto;
}

.list_option {
    cursor: pointer;
}

/*** the top layer ***/

.grey_cover {
    background-color: #000;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    display: none;
}

.button_container {
    width: 100%;
    text-align: center;
    z-index: 100;
    position: fixed;
    display: none;
}

.round_button {
    font-family: 'Open Sans', sans-serif;
    width: 25vw;
    height: 25vw;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-top: 10px;
    text-align: center;
    z-index: 500;
    cursor: pointer;
}

.round_button span {
    position: relative;
    top: 36%;
    color: white;
}

#flashcard {
    background-color: #3e8871;
    float: left;
    margin-left: 5%;
}

#flashcard:active {
    background-color: 2B5F4F;
}

#quiz {
    background-color: #fbd546;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#quiz:active {
    background-color: C9AA38;
}

#challenge {
    background-color: #eb6566;
    float: right;
    margin-right: 5%;
}

#challenge:active {
    background-color: BC5152;
}

/*** The Friend List ***/
@media screen and (max-width: 500px) {
    .friend_window {
        width: 80vw;
        height: 50vh;
        top: 27%;
        left: 10%;
    }

    .list_search {
        width: 80vw;
    }

    .friend_list {
        width: 80vw;
        height: 90%;
    }

    .list_bottom {
        width: 80vw;
        height: 10%;
        line-height: 30px;
    }
}

@media screen and (min-width: 501px) {
    .friend_window {
        width: 80vw;
        height: 50vh;
        max-width: 1000px;
        max-height: 600px;
        top: 27%;
        left: 10%;
    }

    .list_search {
        width: 80vw;
    }

    .friend_list {
        width: 80vw;
        height: 90%;
        max-width: 1000px;
        max-height: 570px;
    }

    .list_bottom {
        width: 80vw;
        height: 10%;
        max-width: 1000px;
        max-height: 70px;
        line-height: 25px;
    }
}

@media screen and (min-width: 1126px) {
    .friend_window {
        width: 80vw;
        height: 50vh;
        max-width: 1000px;
        max-height: 600px;
        top: 27%;
        left: 50%;
        margin-left: -500px;
    }
}

.friend_window {
    z-index: 500;
    background-color: red;
    background: red;
    position: fixed;
    display: none;
}

.list_search {
    background-color: white;
    background: white;
    margin: -10px 0;
    max-width: 1000px;
}

.list_search input[type="text"] {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border: 0;
    outline: none;
    border-bottom: solid 2px #c9c9c9;
    border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    transition: border 0.3s;
}

.list_search input[type="text"]:focus,
.list_search input[type="text"].focus {
}

.friend_list {
    background-color: white;
    background: whte;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
}

.list_bottom {
    font-family: 'Open Sans', sans-serif;
    background-color: #1E8BC3;
    background: #1E8BC3;
    position: relative;
    text-align: center;
    color: white;
}

.list_bottom:active {
    background-color: #2574a9;
}

.simple_friend {
    margin: 5px 10px;
    height: 110px;
    width: 70px;
    display: inline-block;
    text-align: center;
}

.friend_profile.selected{
    border-radius: 3px;
    border: coral solid;
}

.friend_profile img{
    margin: 3px;
    width: 90%;
    height: auto;
    border-radius: 3px;
    min-height: 50px;
}

.simple_friend span{
    font-family: 'Open Sans', sans-serif;
}

/*** Start of flashcard.html ***/
.top_bar {
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #3e8871;
    z-index: 100;
    color: white;
    text-align: center;
    line-height: 40px;
}

.back_button {
    top: 0;
    left: 0;
    position: fixed;
    color: white;
    z-index: 200;
    text-align: center;
    line-height: 35px;
    font-size: 30pt;
    margin-left: 10px;
    font-family: 'font_back_button', Fallback, sans-serif;
    cursor: pointer;
}

.flashcards {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .simple_card {
        margin: 10px auto 10px auto;
    }
}

@media screen and (min-width: 501px) {
    .simple_card {
        display: inline-block;
        margin: 10px 5px 10px 5px;
    }
}

.simple_card {
    width: 300px;
    height: 200px;
    z-index: 1;
    perspective: 1000;
    -o-perspective: 1000;
    -ms-perspective: 1000;
    -moz-perspective: 1000;
    -webkit-perspective: 1000;
}

.flipper {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    box-shadow: -5px 5px 5px #aaa;
}

.flipped {
    transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.card_content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: black;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    cursor: pointer;
    font-family: Georgia;
    font-size: 15pt;
    text-align: center;
    display: table;
}

.card_content span{
    display: table-cell;
    vertical-align: middle;
}

.question {
    position: absolute;
    z-index: 1;
    transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

.answer {
    transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

/*** Start of settings.html ***/
.container.settings {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-family: 'Open Sans', sans-serif;
}

.profile_container {
    position: relative;
    width: 90%;
    height: 25%;
    max-width: 500px;
    max-height: 200px;
    margin: 20px auto;
    text-align: center;
}

.profile_photo {
    margin: 20px auto;
    display: inline-block;
}

.profile_photo img {
    margin: auto;
    border-radius: 8px;
    box-shadow: 3px 3px 10px #888888;
    width: 100%;
    height: auto;
    max-width: 150px;
}

.profile_name {
    margin: 20px 10px;
    display: inline-block;
    text-align: left;
    max-width: 150px;
}

.profile_name .container {
    margin: auto;
}

.name_title,
.name_content {
    word-wrap: break-word;
}

.option_container {
    position: relative;
    margin: 10px auto;
    width: 100%;
    height: 20%;
    max-height: 200px;
    text-align: center;
}

.option {
    cursor: pointer;
    height: 50px;
    line-height: 45px;
    left: 0;
    right: 0; 
    background-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e6e6e6;
}

.option:active {
    background-color: #b8b8b8;
}

.option.clicked {
    background-color: #CFCFCF;   
}

.login_container.v_setting {
    display: none;
    height: 140px;
}

.logout {
    margin: auto;
    height: 100px;
    width: 50%;
    max-width: 500px;
    line-height: 95px;
    text-align: center;
    cursor: pointer;
    position: relative;
}