@font-face {
    font-family: font_logo;
    src: url(font/urban.ttf) format("truetype");
    /*src: url('urban.ttf');*/
}

@font-face {
    font-family: font_back_button;
    src: url(font/chalkboard_bold.ttf) format("truetype"),
         url(font/chalkboard_bold.eot) format('embedded-opentype'),
         url(font/chalkboard_bold.woff) format('woff');
}

@font-face {
    font-family: font_set_content;
    src: url(font/american-typewriter-light.ttf) format("truetype"),
         url(font/american-typewriter-light.eot) format('embedded-opentype');
}

@font-face {
    font-family: open_sans;
    src: url(font/OpenSans-Regular.ttf) format("truetype"),
         url(font/OpenSans-Regular.woff) format('woff');
}

@font-face {
    font-family: open_sans_light;
    src: url(font/OpenSans-Light.ttf) format("truetype"),
         url(font/OpenSans-Light.eot) format('woff');
}

@font-face {
    font-family: open_sans_bold;
    src: url(font/OpenSans-Bold.ttf) format("truetype"),
         url(font/OpenSans-Bold.woff) format('woff');
}

body {
    font-family: 'open_sans', sans-serif;
}

body, html {
    overflow-x: hidden;
    overflow-y: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.ui-focus {
    box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

#fb-root {
    display: none;
}

.background_index,
.background_flashcard {
    background: #99cfb7;
    background-color: #99cfb7;
}

.background_set {
    background-color: #E6FAF5;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*** Buttons ***/

.button_close {
    top: 0;
    right: 0;
    position: absolute;
    margin: 3px 10px;
    font-size: 20pt;
    cursor: pointer;
    color: #6b6b6b;
    z-index: 1000;
}

.button_close:active {
    color: #000;
}

@media screen and (max-width: 500px) {
    .popup_window {
        width: 300px;
        height: 120px;
        left: 50%;
        top: 50%;
        margin-left: -150px;
        margin-top: -60px;
    }

    .group_2 div,
    .group_2 li {
        width: 49.5%;
    }

    .group_3 div,
    .group_3 li {
        width: 33.333%;
    }
}

@media screen and (min-width: 501px) {
    .popup_window {
        width: 400px;
        height: 150px;
        left: 50%;
        top: 50%;
        margin-left: -200px;
        margin-top: -75px;
    }

    .group_2 div,
    .group_2 li {
        width: 49.8%;
    }

    .group_3 div,
    .group_3 li {
        width: 33.333333%;
    }
}

.popup_window {
    position: fixed;
    background-color: white;
    z-index: 1001;
    border: solid 1px #6C7A89;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: -1px 1px 3px #888888;
}

.popup_message {
    margin: 6px 15px;
}

.popup_window span {
    
}

.popup_buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /*height: 20%;*/
    text-align: center;
}

.popup_button {
    width: 49.6%;
    height: 35px;
    line-height: 30px;
    color: white;
    cursor: pointer;
    border-top: solid 1px white;
}

.popup_button.cancel {
    background-color: #6C7A89;
    border-right: solid 1px white;
    border-bottom-left-radius: 4px;
    -o-border-bottom-left-radius: 4px;
    -ms-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    float: left;
}

.popup_button.cancel:active {
    background-color: #4C5560;
}

.popup_button.accept {
    background-color: #F64747;
    border-left: solid 1px white;
    border-bottom-right-radius: 4px;
    -o-border-bottom-right-radius: 4px;
    -ms-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    float: right;
}

.popup_button.accept:active {
    background-color: #C53939;
}

.popup_button.ok {
    background-color: #3498DB;
    border-bottom-left-radius: 4px;
    -o-border-bottom-left-radius: 4px;
    -ms-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -o-border-bottom-right-radius: 4px;
    -ms-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    left: 0;
    right: 0;
    width: 100%;
}

.popup_button.ok:active {
    background-color: #246A99;
}

.group_4 div,
.group-4 li {
    width: 25%;
}

.group_5 div,
.group_5 li {
    width: 20%;
}

/*** Start of footer ***/
@media screen and (max-width: 500px) {
    .footer_container li {
        line-height: 36px;
    }
}

@media screen and (min-width: 501px) {
    .footer_container li {
        line-height: 35px;
    }
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 25;
    height: 14vh;
    max-height: 60px;
    position: fixed;
}

.footer_container {
    display: table;
    width: 100%;
    height: 10vh;
    padding: 0;
    bottom: 0;
    /*box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;*/
    text-align: center;
    padding-top: 3px;
    /*padding-bottom: 3px;*/
}

.footer_container li {
    display: table-cell;
    cursor: pointer;
    color: #FFF;
    background-color: #6b6b6b;
    border-left-style: solid;
    border-left-width: 0.5px;
    border-left-color: #FFF;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #FFF;
    box-shadow: 0 -1px 2px #888888;
}

.footer_container li:active {
    background-color: #4B4B4B;
}

.footer_container li.current_tab {
    background-color: #A6A6A6;
}

.footer_container li a {
    color: inherit;
    text-decoration: none;
}

/*** Start of index.html ***/
.logo {
    width: 60%;
    max-width: 300px;
    margin: auto;
}

.logo:before{
    content: "";
    display: relative;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

.logo_text {
    font-family: font_logo, sans-serif;
    color: white;
    opacity: 0.9;
    text-align: center;
    font-size: 420%;
    margin-left: auto;
    margin-right: auto;
}

.footer_copyright {
    text-align: center;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    margin-bottom: 10px;
    position: relative;
    width: 100px;
    color: white;
    opacity: 0.7;
}

.copyright {
    font-size: 10pt;
    margin: 10px auto;
}

/** Styles for log-in buttons container **/
@media screen and (max-width: 500px) {
    .login_container {
        width: 100%;
    }

    .login_button {
        width: 100%;
        max-width: 320px;
        padding-left: 20px;
    }
}

@media screen and (min-width: 501px) {
    .login_container {
        width: 40%;
    }

    .login_button {
        width: 60%;
        min-width: 320px;
        padding-left: 40px;
    }
}

.login_container {
    margin: 5px auto;
    height: 180px;
}

.login_button {
    margin: 15px auto;
    cursor: pointer;
    overflow: hidden;
}

.let-icon-bg, .let-bg,
.fb-icon-bg, .fb-bg,
.twi-icon-bg, .twi-bg,
.g-icon-bg, .g-bg {
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
    box-shadow: 0 1px 0 #888888;
}

.let-bg:after,
.fb-bg:after,
.twi-bg:after,
.g-bg:after {
    font-family: 'open_sans', sans-serif;
}

/* Quizlet */
.let-icon-bg {
    background: #165dd1;
    height: 37px;
    width: 41px;
    float: left;
}

.let-icon-bg:after {
    content: url(images/let-icon.png);
    display: inline-block;
    padding: 7px 10px 5px 11px;
}

.let-bg {
    background: #367eea;
    display: inline-block;
    height: 37px;
    width: 75%;
    float: left;
}

.let-bg:after {
    color: #fff;
    content: "sign in with quizlet";
    height: 37px;
    left: 12%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px; 
}

.let-bg.link:after {
    content: "link with quizlet";
    left: 20%;
}

.let-bg:hover{
    cursor: pointer;
}

.let-bg:active{
    background: #165dd1;
}

/* Facebook */
.fb-icon-bg {
    background: #354f88;
    height: 37px;
    width: 41px;
    float: left;
}

.fb-icon-bg:after {
    content: url(images/fb-icon.png);
    display: inline-block;
    padding: 9px 10px 5px 15px;
}

.fb-bg {
    background: #3b5998;
    display: inline-block;
    height: 37px;
    width: 75%;
    float: left;
}

.fb-bg:after {
    color: #fff;
    content: "sign in with facebook";
    height: 37px;
    left: 8%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px; 
}

.fb-bg.link:after {
    content: "link with facebook";
    left: 15%;
}

.fb-bg:hover{
    cursor: pointer;
}

.fb-bg:active{
    background: #354f88;
}

/* Twitter */
.twi-icon-bg:after {
    content: url(images/twi-icon.png);
    display: inline-block;
    padding: 11px 10px 6px 11px;
}

.twi-icon-bg {
    background: #40a2d1;
    height: 37px;
    width: 41px; 
    float: left;
}

.twi-bg {
    background: #45b0e3;
    height: 37px;
    width: 75%;; 
    float: left;
}
 
.twi-bg:after {
    color: #fff;
    content: "sign in with twitter";
    height: 37px;
    left: 11%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px; 
}

.twi-bg.link:after {
    content: "link with twitter";
    left: 18%;
}

.twi-bg:hover {
  cursor: pointer;
}

.twi-bg:active {
  background: #40a2d1;
}

/* Google+ */
.g-icon-bg:after {
  content: url(images/g-icon.png);
  display: block;
  padding: 11px 10px 6px 13px;
}

.g-icon-bg {
    background: #ce3e26;
    height: 37px;
    float: left;
    width: 41px; 
}
 
.g-bg {
    background: #de4c34;
    height: 37px;
    float: left;
    width: 75%;; 
}
 
.g-bg:after {
    color: #fff;
    content: "sign in with google+";
    height: 37px;
    left: 10%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px; 
}

.g-bg:after {
    content: "link with google+";
    left: 16%;
}

.g-bg:hover {
  cursor: pointer;
}

.g-bg:active {
  background: #ce3e26;
}

.btn_social {
    position: relative;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 10px 16px;
    cursor: pointer;
    border: 1px solid transparent;
}

.btn_fb {
    padding-left: 61px;
    color: white;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

/*** Start of study.html ***/
@media screen and (max-width: 500px) {
    .space.top {
        height: 10vw;
        max-height: 32px;
        top: 0;
    }

    .space.bottom{
        height: 15vw;
        max-height: 100px;
        bottom: 0;
    }

    .search_set,
    .notification,
    .add_set,
    .header {
        height: 10vw;
        max-height: 35px;
    }

    .notification,
    .add_set,
    .header_title {
        line-height: 35px;
        font-size: 12pt;
        text-align: center;
    }

    .add_set {
        right: 0;
        width: 35px;
        /*border-bottom-left-radius: 10px;*/
    }

    .search_set {
        width: 70vw;
        margin-left: -36vw;
    }

    #search_set_box {
        height: 29px;
        margin-top: 0.5px;
        line-height: 28px;
        font-size: 10pt;
    }

    .notification {
        left: 0;
        width: 35px;
        /*border-bottom-right-radius: 10px;*/
    }

    .notice_bubble {
        margin-top: -35px;
        margin-left: 18px;
    }

    .simple_set {
        left: 0;
        right: 0;
        height: 90px;
        /*width: 100vw;*/
    }

    .simple_set.search {
        min-width: 90vw;
    }

    .search_result {
        margin-top: 16vw;
    }

    .round_button {
        font-size: 5vw;
    }
}

@media screen and (min-width: 501px) {
    .space.top {
        height: 40px;
        top: 0;
    }

    .space.bottom{
        height: 100px;
        bottom: 0;
    }

    .search_set,
    .add_set,
    .notification,
    .header {
        height: 40px;
    }

    .search_set,
    .add_set,
    .notification,
    .header_title {
        line-height: 40px;
        font-size: 16pt;
        text-align: center;
    }

    .add_set {
        width: 48px;
        left: 50%;
        margin-left: 200px;
        /*border-bottom-left-radius: 20px;*/
    }

    .search_set {
        width: 400px;
        margin-left: -205px;
    }

    #search_set_box {
        height: 30px;
        line-height: 24px;
        font-size: 14pt;
    }

    .notification {
        width: 40px;
        left: 50%;
        margin-left: -250px;
        /*border-bottom-right-radius: 20px;*/
    }

    .notice_bubble {
        margin-top: -39px;
        margin-left: 20px;
    }

    .simple_set {
        margin-left: auto;
        margin-right: auto;
        height: 100px;
    }

    .simple_set.search {
        min-width: 500px;
    }

    .search_result {
        margin-top: 85px;
    }

    .round_button {
        font-size: 5vw;
    }
}

@media screen and (min-width: 1000px) {
    .round_button {
        font-size: 30pt;
    }
}

.space {
    z-index: 1;
    width: 100%;
}

/** Begin of hearder bar **/

.header {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    background-color: #6b6b6b;
    color: white;
    text-align: center;
    z-index: 25;
    box-shadow: 0 1px 3px #888888;
}

.header_title {
    margin-left: auto;
    margin-right: auto;
    font-family: 'open_sans', sans-serif;
}

.add_set {
    top: 0;
    right: 0;
    position: fixed;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #C4C4C4;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #C4C4C4;
    cursor: pointer;
    /*z-index: 50;
    color: white;
    background-color: red;
    opacity: 0.5;
    filter: alpha(opacity=50);*/ /* For IE8 and earlier */
}

i.rotate {
    transform: rotate(45deg);
    /* Safari */
    -webkit-transform: rotate(45deg);
    /* Firefox */
    -moz-transform: rotate(45deg);
    /* IE */
    -ms-transform: rotate(45deg);
    /* Opera */
    -o-transform: rotate(45deg);
    /* Internet Explorer */
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
    writing-mode: lr-bt;
}

.add_set:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */   
}

.search_set {
    z-index: 49;
    top: 0;
    position: fixed;
    left: 50%;
    display: none;
}

#search_set_box {
    text-align: center;
    border-style: solid;
    border-width: 1.5px;
    border-color: #b6b6b6;
    width: 98%;
}

#search_set_box:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.notification {
    top: 0;
    position: fixed;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #C4C4C4;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #C4C4C4;
    cursor: pointer;
    /*z-index: 50;
    color: white;
    background-color: yellow;
    opacity: 0.5;
    filter: alpha(opacity=50);*/ /* For IE8 and earlier */
}

.notification:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */   
}

.add_set:active,
.notification:active {
    background-color: #4B4B4B;
}

.notice_bubble {
    position: fixed;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 10pt;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: -1px 1px 3px #888888;
    display: none;
}

/** Begin of page content **/

.search_result {
    display: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 120px;
}

.set_info {
    z-index: 1;
    margin-bottom: 120px;
    padding-bottom: 50px;
    right: 0;
    left: 0;
    position: absolute;
}

.simple_set {
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 10;
    position: relative;
    background-color: #019875;
    border-bottom: solid 1px #049372;
    cursor: pointer;
    font-family: 'open_sans', sans-serif;
    font-weight: light;
    box-shadow: -1px 1px 3px #888888;
    /*border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #0099FF;*/
}

.simple_set.last {
    margin-bottom: 30px;
}

.simple_set.search {
    display: inline-block;
    height: auto;
}

.content_container {
    display: inline-block;
    width: 90%;
    height: 100%;
    float: left;
}

.action_container {
    position: absolute;
    right: 0;
    width: 10%;
    height: inherit;
    float: right;
    color: white;
}

.action {
    height: 50%;
    width: 100%;
    text-align: center;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #FFF;
    display: table;
}

.action:active {
    background-color: #668E66;
}

.action span {
    display: table-cell;
    vertical-align: middle;
}

.action i {
    display: table-cell;
    vertical-align: middle;
}

.action.delete{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #FFF;
}

.action.favorite{
    
}

.action.add{
    height: 100%;
}

.set_content {
    height: 50%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'open_sans', sans-serif;
}

.set_content p{
    display: table-cell;
    vertical-align: middle;
}

.set_content.title {
    height: 100%;
    max-width: 96%;
    font-weight: 800;
    font-size: 16pt;
    text-align: center;
    word-wrap: break-word;
}

.set_content.title.search {
    height: 36%;
    font-weight: 500;
    font-size: 15pt;
    max-width: 90%;
    margin-top: 10px;
}

.set_content.description {
    height: 64%;
    font-style: italic;
    font-size: 12pt;
}

.set_content.description.search {
    height: 50%;
    font-style: italic;
    font-size: 11pt;
    font-weight: 200;
    width: 94%;
    text-align: justify;
    margin: 6px auto;
}

.list_option {
    cursor: pointer;
}

/** the top layer **/
@media screen and (max-width: 600px) {
    .button_container {
        width: 100%;
    }

    .round_button {
        width: 25vw;
        height: 25vw;
        max-width: 200px;
        max-height: 200px;
        margin: 10px 11px;
    }

    .info_container {
        margin-top: 30%;
    }

    .round_button .explain {
        font-size: 8pt;
    }
}

@media screen and (min-width: 601px) {
    .button_container {
        width: 90vw;
        left: 50%;
        margin-left: -45vw;
    }

    .round_button {
        width: 25vw;
        height: 25vw;
        max-width: 140px;
        max-height: 140px;
    }

    #flashcard {
        margin: 20px 0 20px 5vw;
    }

    #challenge {
        margin: 20px 5vw;
    }

    #practice {
        margin: 20px 5vw 20px 0;
    }

    .round_button span {
        font-size: 27px;
    }

    .info_container {
        margin-top: 20%;
    }

    .round_button .explain {
        font-size: 12pt;
        margin-top: -8px;
    }
}

@media screen and (min-width: 741px) {
    .button_container {
        width: 81vw;
        max-width: 600px;
        left: 50%;
        margin-left: -300px;
    }

    #flashcard,
    #challenge,
    #practice {
        margin: 20px 30px;
    }
}

.grey_cover {
    background-color: #000;
    /*background-color: rgba(255, 255, 255, 0.75);*/
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
    width: 110vw;
    height: 2000px;
    margin-top: -10px;
    margin-left: -10px;
    position: fixed;
    z-index: 99;
    display: none;
}

.button_container {
    text-align: center;
    z-index: 100;
    position: fixed;
    display: none;
}

.round_button {
    font-family: 'open_sans', sans-serif;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    z-index: 500;
    cursor: pointer;
    float: left;
}

.round_button span {
    position: relative;
    color: white;
}

.round_button .explain {
    color: white;
    font-style: italic;
    font-weight: 100;
    font-family: 'open_sans', sans-serif;
}

#flashcard {
    background-color: #3e8871;
    box-shadow: -1px 1px 1px #3e8871;
}

#flashcard:active {
    background-color: 2B5F4F;
}

#challenge {
    background-color: #eb6566;
    box-shadow: -1px 1px 1px #eb6566;
}

#challenge:active {
    background-color: BC5152;
}

#practice {
    background-color: #fbd546;
    box-shadow: -1px 1px 1px #fbd546;
}

#practice:active {
    background-color: C9AA38;
}

/** The Friend List **/
@media screen and (max-width: 500px) {
    .friend_window {
        width: 88vw;
        height: 60vh;
        top: 50%;
        left: 50%;
        margin-left: -44vw;
        margin-top: -35vh;
    }

    .list_search {
        height: 10%;
    }

    .friend_list {
        height: 80%;
    }

    .list_bottom {
        height: 10%;
        min-height: 18px;
        line-height: 23px;
    }

    .list_search input[type="text"] {
        font-size: 12pt;
        height: 25px;
        width: 90%;
    }
}

@media screen and (min-width: 501px) {
    .friend_window {
        height: 60vh;
        width: 88vw;
        max-width: 500px;
        top: 50%;
        left: 50%;
        margin-left: -250px;
        margin-top: -40vh;
    }

    .list_search {
        height: 10%;
    }

    .friend_list {
        height: 80%;
    }

    .list_bottom {
        height: 10%;
        min-height: 30px;
        line-height: 26px;
    }

    .list_search input[type="text"] {
        font-size: 13pt;
        height: 28px;
        width: 96%;
    }
}

@media screen and (max-height: 600px) {
    .friend_window {
        height: 60vh;
        width: 80vw;
        top: 50%;
        left: 50%;
        margin-left: -40vw;
        margin-top: -40vh;
    }
}

.friend_window {
    z-index: 500;
    position: fixed;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: solid 1px #6b6b6b;
    background-color: #EEEEEE;
    display: none;
    box-shadow: -1px 1px 1px #888888;
}

.list_search {
    background-color: white;
    background: white;
    text-align: center;
    width: 90%;
    margin: 6px 3px 0 3px;
    background-color: #EEEEEE;
    position: relative;
    /*border-bottom: solid 1px #c9c9c9;*/
}

.list_search input[type="text"] {
    font-family: 'open_sans', sans-serif;
    border: 0;
    outline: none;
    border-bottom: solid 1px #c9c9c9;
    border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    transition: border 0.3s;
    background-color: #EEEEEE;
}

.list_search input[type="text"]:focus,
.list_search input[type="text"].focus {
}

.friend_list {
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    color: #2d2d2d;
}

.list_bottom {
    font-family: 'open_sans', sans-serif;
    background-color: #1E8BC3;
    background: #1E8BC3;
    position: absolute;
    text-align: center;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-radius: 5px;
    -o-border-bottom-radius: 5px;
    -ms-border-bottom-radius: 5px;
    -moz-border-bottom-radius: 5px;
    -webkit-border-bottom-radius: 5px;
    /*width: 100%;*/
}

.list_bottom:active {
    background-color: #2574a9;
}

.friend_list h3 {
    margin: 10px 15px 0 15px;
    color: #999999;
}

.simple_friend {
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    display: relative;
    text-align: left;
    cursor: pointer;
    border-bottom: solid 1px #D6D6D6;
}

.simple_friend.selected {
    background-color: #78B9DB;
}

.simple_friend span {
    float: left;
    height: 100%;
    line-height: 50px;
    margin-left: 15px;
    font-family: 'open_sans', sans-serif;
}

.friend_profile {
    float: right;
    height: 50px;
    width: 50px;
    margin-right: 5px;
    display: table;
    overflow: hidden;
}

.friend_profile.selected {
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: coral solid;
}

.friend_profile img {
    margin: 1.5px;
    width: 45px;
    height: 45px;
    border-radius: 25%;
    -o-border-radius: 25%;
    -ms-border-radius: 25%;
    -moz-border-radius: 25%;
    -webkit-border-radius: 25%;
    box-shadow: -1px 1px 1px #888888;
    display: table-cell;
    vertical-align: middle;
}

/** The Challenge Notification **/
@media screen and (max-width: 500px) {
    .challenge_info {
        width: 80vw;
        height: 80vh;
        margin-left: -40vw;
        margin-top: 50px;
    }
}

@media screen and (min-width: 501px) {
    .challenge_info {
        width: 500px;
        height: 400px;
        margin-left: -250px;
        margin-top: 80px;
    }
}

.challenge_info {
    position: fixed;
    z-index: 500;
    left: 50%;
    color: #666666;
    background-color: white;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #F5F5F5;
    box-shadow: -1px 1px 3px #888888;
    display: none;
}

.challenge_info h3 {
    color: #BDC3C7;
    padding-left: 10px;
    margin: 3px 10px;
}

.challenge_title {
    width: 100%;
    left: 0;
    right: 0;
    height: 40px;
    display: table;
    position: relative;
    text-align: center;
}

.challenge_title span {
    display: table-cell;
    vertical-align: middle;
    font-size: 14pt;
    font-weight: 700;
}

.simple_info {
    width: 100%;
    left: 0;
    right: 0;
    height: 60px;
    border-top: solid 1px #E3E3E3;
    position: relative;
    margin: 3px 0;
    display: inline-block;
    padding-top: 10px;
}

.info_profile {
    left: 0;
    height: 60px;
    width: 60px;
    display: table;
    float: left;
}

.info_profile img {
    margin: 1.5px;
    width: 90%;
    height: 90%;
    border-radius: 10%;
    -o-border-radius: 10%;
    -ms-border-radius: 10%;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    display: table-cell;
    vertical-align: middle;
}

.info_content {
    top: 0;
    right: 0;
    width: 66%;
    word-wrap: break-word;
    float: left;
    margin-left: 12px;
    font-size: 12pt;
    display: table;
}

.info_content span {
    display: table-cell;
    vertical-align: middle;
}

.action_set {
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 115%;
    width: 30%;
    overflow: hidden;
}

.button_reject,
.button_accept {
    width: 46%;
    height: 100%;
    margin-left: 3px;
    float: right;
    display: table;
    color: white;
    text-align: center;
    cursor: pointer;
}

.button_reject {
    background-color: #D2D7D3;
}

.button_reject:active {
    background-color: #939694;
}

.button_accept {
    background-color: #F64747;
}

.button_accept:active {
    background-color: #C53939;
}

.button_reject i,
.button_accept i {
    display: table-cell;
    vertical-align: middle;
}

/*** Start of flashcard.html ***/

.top_bar {
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #3e8871;
    z-index: 100;
    color: white;
    text-align: center;
    line-height: 40px;
}

.top_bar .card_title {
    width: 80%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
}

.back_button {
    top: 0;
    left: 0;
    position: fixed;
    color: white;
    z-index: 200;
    text-align: center;
    line-height: 35px;
    font-size: 30pt;
    margin-left: 10px;
    font-family: 'font_back_button', Fallback, sans-serif;
    cursor: pointer;
}

.flashcards {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .simple_card {
        margin: 10px auto 10px auto;
    }
}

@media screen and (min-width: 501px) {
    .simple_card {
        display: inline-block;
        margin: 10px 5px 10px 5px;
    }
}

.simple_card {
    width: 300px;
    height: 200px;
    z-index: 1;
    perspective: 1000;
    -o-perspective: 1000;
    -ms-perspective: 1000;
    -moz-perspective: 1000;
    -webkit-perspective: 1000;
}

.flipper {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    box-shadow: -5px 5px 5px #aaa;
}

.flipped {
    transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.card_content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: black;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    cursor: pointer;
    font-family: Georgia;
    font-size: 15pt;
    text-align: center;
    display: table;
}

.card_content span{
    display: table-cell;
    vertical-align: middle;
}

.question {
    position: absolute;
    z-index: 1;
    transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

.answer {
    transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

/*** Start of stats.html ***/
@media screen and (max-width: 500px) {
    .stats_tab {
        height: 10vw;
        max-height: 35px;
        line-height: 35px;
    }

    .chartTitle {
        font-size: 18pt;
        font-weight: 800;
        width: 90%;
        margin: 20px auto;
    }

    .game_buttons {
        width: 80vw;
        height: 10vh;
    }

    .line_graph {
        width: 80vw;
        height: 50vh;
    }

    .page_me, .page_friend {
        margin-top: 35px;
        margin-bottom: 100px;
    }

    .simple_friend.stats {
        left: 0;
        right: 0;
    }

    .friend_profile.stats {
        margin-right: 10px;
    }

    .friend_stats {
        width: 70vw;
        height: 40vh;
        max-height: 400px;
        margin-left: -35vw;
        margin-top: -20vh;
    }

    .friendChart {
        margin-left: -20px;
    }

    .friendTitle {
        margin: 30px auto 20px auto;
        width: 70%;
        font-weight: 700;
    }

    .invite_friend {
        width: 90%;
        height: 30px;
        font-size: 14pt;
    }
}

@media screen and (min-width: 501px) {
    .stats_tab {
        height: 40px;
        line-height: 40px;
    }

    .chartTitle {
        font-size: 18pt;
        font-weight: 900;
    }

    .game_buttons {
        width: 80vw;
        max-width: 600px;
        height: 80px;
    }

    .line_graph {
        width: 80vw;
        max-width: 600px;
        height: 50vh;
        max-height: 600px;
    }

    .page_me, .page_friend {
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .simple_friend.stats {
        margin: 2px auto;
        width: 60vw;
        max-width: 600px;
        cursor: pointer;
    }

    .friend_stats {
        width: 500px;
        height: 60vh;
        max-height: 500px;
        margin-left: -250px;
        margin-top: -30vh;
    }

    .friendChart {
        margin-left: 80px;
    }

    .friendTitle {
        margin: 30px auto;
        font-weight: 900;
    }

    .invite_friend {
        width: 60vw;
        max-width: 600px;
        height: 35px;
        font-size: 17pt;
    }
}

.stats_tab {
    height: inherit;
    float: left;
    border-left: solid 1px #FFF;
    /*border-right: solid 1px #FFF;*/
    cursor: pointer;
    box-shadow: 0 1px 2px #888888;
}

.stats_tab:active {
    background-color: #4B4B4B;
}

.stats_tab.current_tab {
    background-color: #A6A6A6;
}

.page_me, .page_friend {
    z-index: 1;
    width: 100vw;
    height: auto;
    position: relative;
    margin-left: -8px;
    text-align: center;
    overflow-x: hidden;
}

.page_friend {
    display: none;
}

.myChart {
    width: 400px;
    height: 400px;
    margin: 30px auto;
    display: none;
}

.chartTitle {
    text-align: center;
}

.chartTable {
    margin: 20px auto;
}

.game_details.me {
    text-align: center;
    display: none;
}

.game_buttons.me {
    width: 90%;
    height: 20%;
    margin: 20px auto;
    text-align: center;
}

.game_details.friend {
    text-align: center;
    position: relative;
}

.game_buttons.friend {
    width: 90%;
    height: 30%;
    margin: 20px auto;
    text-align: center;
    position: relative;
}

.game_button {
    display: inline-block;
    height: 30px;
    width: 19%;
    box-shadow: -1px 1px 2px #BDC3C7;
    background-color: #BDC3C7;
    line-height: 30px;
    color: #2C3E50;
}

.line_graph {
    margin: 5px auto 100px auto;
    position: relative;
}

.number {
    padding-left: 10px;
    padding-right: 20px;
}

.block {
    width: 20px;
}

.block.red {
    background-color: #F7464A;
}

.block.green {
    background-color: #46BFBD;
}

.block.yellow {
    background-color: #FDB45C;
}

.block.white {
    background-color: #ECECEC;
}

.simple_friend.stats:hover {
    background-color: #4DB8DB;
}

.friend_stats {
    position: fixed;
    background-color: #EEEEEE;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: solid 1px #6b6b6b;
    box-shadow: -1px 1px 2px #888888;
    left: 50%;
    top: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 25;
    display: none;
}

.chartContainer {
    margin: 10px auto;
}

.friendChart {
    display: none;
}

.friendTitle {
    font-weight: 1000;
    text-align: center;
    width: 80%;
    word-wrap: break-word;
}

.friendTable {
    margin: 20px auto;
}

.invite_friend {
    margin: 50px auto;
    background-color: #4183D7;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: solid 1px #2E5C96;
    color: white;
    cursor: pointer;
}

.invite_friend:active {
    background-color: #2E5C96;
}

.friend_profile.stats img {
    width: 90%;
    height: 90%;
    max-width: 48px;
    max-height: 48px;
}

.list_search.stats,
.list_search.stats input,
.friend_list.stats {
    background-color: #EEEEEE;
    background: #EEEEEE;
}

/*** Start of settings.html ***/
@media screen and (max-width: 500px) {
    .profile_photo {
        height: 100px;
        width: 100px;
    }
}

@media screen and (min-width: 501px) {
    .profile_photo {
        height: 40vw;
        width: 40vw;
        max-height: 150px;
        max-width: 150px;
    }
}

.container.settings {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-family: 'open_sans', sans-serif;
}

.profile_container {
    position: relative;
    width: 90%;
    height: 25%;
    max-width: 320px;
    max-height: 200px;
    margin: 20px auto;
    text-align: center;
    overflow: hidden;
}

.profile_photo {
    margin: 20px auto;
    display: inline-block;
    float: left;
    margin-left: 40px;
}

.profile_photo img {
    margin: auto;
    border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: -3px 3px 10px #888888;
    width: 96%;
    height: 96%;
}

.profile_name {
    margin: 50px 0 50px 15px;
    display: table;
    float: left;
    text-align: left;
    max-width: 150px;
    word-wrap: break-word;
}

.profile_name .container {
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}

.name_title,
.name_content {
    word-wrap: break-word;
}

.option_container {
    position: relative;
    margin: 10px auto;
    width: 100%;
    height: 20%;
    max-height: 200px;
    text-align: center;
}

.option {
    cursor: pointer;
    height: 50px;
    line-height: 45px;
    left: 0;
    right: 0; 
    background-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e6e6e6;
}

.option:active {
    background-color: #b8b8b8;
}

.option.clicked {
    background-color: #CFCFCF;   
}

.login_container.v_setting {
    display: none;
    height: 140px;
}

.logout {
    margin: 10px auto 100px auto;
    height: 100px;
    width: 50%;
    max-width: 500px;
    line-height: 95px;
    text-align: center;
    cursor: pointer;
    position: relative;
}