body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    background:
    linear-gradient(225deg, 
        transparent 0%, transparent 4%, rgba(200, 200, 200, 0.5) 4%, rgba(200, 200, 200, 0.5) 11%, 
        transparent 16%, transparent 24%, rgba(190, 190, 190, 0.5) 24%, rgba(190, 190, 190, 0.5) 25%, 
        transparent 25%, transparent 38%, rgba(200, 200, 200, 0.5) 38%, rgba(200, 200, 200, 0.5) 49%, 
        rgba(210, 210, 210, 0.5) 49%, rgba(210, 210, 210, 0.5) 51%, 
         rgba(200, 200, 200, 0.5) 51%, rgba(200, 200, 200, 0.5) 62%, 
        transparent 62%, transparent 74%, rgba(190, 190, 190, 0.5) 74%, rgba(190, 190, 190, 0.5) 75%,  
        transparent 75%, transparent 85%, rgba(200, 200, 200, 0.5) 88%, rgba(200, 200, 200, 0.5) 95%, 
        transparent 95%, transparent 100%
        ),
        linear-gradient(135deg,
        transparent 0%, transparent 4%, rgba(200, 200, 200, 0.5) 4%, rgba(200, 200, 200, 0.5) 11%, 
        transparent 16%, transparent 24%, rgba(190, 190, 190, 0.5) 24%, rgba(190, 190, 190, 0.5) 25%, 
        transparent 25%, transparent 38%, rgba(200, 200, 200, 0.5) 38%, rgba(200, 200, 200, 0.5) 49%, 
        rgba(210, 210, 210, 0.5) 49%, rgba(210, 210, 210, 0.5) 51%, 
        rgba(200, 200, 200, 0.5) 51%, rgba(200, 200, 200, 0.5) 62%, 
        transparent 62%, transparent 74%, rgba(190, 190, 190, 0.5) 74%, rgba(190, 190, 190, 0.5) 75%,  
        transparent 75%, transparent 85%, rgba(200, 200, 200, 0.5) 88%, rgba(200, 200, 200, 0.5) 95%, 
        transparent 95%, transparent 100%
    );
    background-size: 4em 4em;
    background-color: lightgrey;
}